# Virtual env
.venv/

# Python
*.pyc
*.pyo
__pycache__/

# Jupyter
.ipynb_checkpoints/

# Logs
logs/
slurm/logs/

# Data
data/*.zip
data/*/

# Results
results/step_*
results/splat_*

# Logs
logs/events.out.tfevents.*

# Models
/models/**/*.pt
/models/**/*.ckpt
